@mixin transition-delay($delay) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin transition($transition) {
    -moz-transition-delay: $transition;
    -o-transition-delay:   $transition;
    -webkit-transition:    $transition;
    transition:            $transition;
}

@mixin transform($transform) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -ms-transform:     $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    -ms-border-radius:     $radius;
    border-radius:         $radius;
}

@mixin set-margin-padding($padding: 0, $margin: 0) {
    padding: $padding;
    margin: $margin;
  }
  
  @mixin letters($case-size) {
    text-transform: $case-size;
  }