@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/form_field";

/* Sections */
@import "section/registration_form";

/* Pages / Views */
@import "pages/registration";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
body {
  background-color: #f5f5f2;
  position: relative;
}

.topbar {
  width: 100%;
  margin-left: 188px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: #fff;
  height: 60px;
  margin-left: 800px;
  width: 100%;
  a {
    color: #b6b6b6;
    text-decoration: none;
    padding: 0 5px;
    line-height: 60px;
    font-size: $paragraph-font-size;
  }
}

ul > li:hover {
  .icon-arrow-down-small:before {
    @include transform(rotate(180deg));
  }
  .price {
    color: #000;
    }
}

ul > li, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
} li {
  float: left;
  background-color: #fff;
  width: 188px;
  border-left: 1px solid $border-color;
  height: 60px;
  &:hover {
    background-color: #e3e3e3;
  }
}

ol > .listOne {
  width: 189px;
  background-color: #e3e3e3;
  margin: -1px;
  height: 45px;
  border-left:  1px solid $border-color;
  border-right:  1px solid $border-color;
  border-bottom:  1px solid $border-color;
  a:hover {
    color: $paragraph-color;
  } &:last-child {
    height: 60px;
  }
}

ul > li > ol {
  display: none;
}

ul > li:hover > ol {
  display: block;
}

.icon-wallet {
  margin: 0 0 0 1%;
  width: 10%;   
}

.price {
  color: #b6b6b6;
    display: inline-block;
    margin: 0 8% 0;   
}

.leftmenu {
  float: left;
  margin-left: 20px;
}

.rightmenu {
  float: right;
  margin-right: 20px;
}

.circle {
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 28px;
  top: 18px;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
}

.secondMenuList {
  border-left:  1px solid $border-color;
  width: 234px;
  position: relative;
  &:hover {
    .circle, .leonardoText, .rectangle, .icon-profile {
      display: none;
    }
  } &:hover {
    .icon-notification:before {
      margin: 0 0 0 -58%;
    }
  } &:hover {
    .icon-close {
      display: inline-block;
      color: #000;
      float: right;
      margin-right: 15px;
    }
  }
}

.leonardoText {
  color: $global-links;
}

.icon-notification:before {
  margin-right: 12%;
  color: #000;
}

.rectangle {
  display: inline-block;
  margin: 0px 3% -10% -6%;
  width: 1px;
  height: 60px;
  background-color: $border-color;
}

ol > .listTwo {
  width: 235px;
  @extend .listOne;
  :hover {
    .circleOne {
      display: inline-block;
    }
  } a {
    color: $global-links;
    @extend .leftmenu;
  }
}

.circleOne {
  display: none;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
  margin-left: 30px;
}

.circleTwo {
  @extend .circleOne;
  margin-left: 38px;
}

.icon-profile {
  margin-right: 10px;
  color: #000;
}

.icon-close {
  display: none;
}

.quit {
  width: 60px;
}

// koniec

.asideBar {
  position: fixed;
  top: 0;
  display: inline-block;
  width: 188px;
}

.asside {
  min-height: 700px;
  background-color: #191919;
  margin: 0;
  li {
    border: none;
    text-align: left;
    background-color: #191919;
    color: #888888;
    &:hover {
      background-color: #282828;      
    } &:hover .selectionRectangle {
      display: inline-block;
    } a {
      display: block;
      margin-bottom: -30px;
    } a:last-child {
      border-bottom: 1px solid $border-color;
    } a:hover { 
      color: #fff;   
    }
  } .icon-li {
    color: #000;
    margin: 0 20px 0 10px;
  } h5 {
    position: absolute;
    top: 70%;
    left: 8%;
    text-transform: uppercase;
    color: #888888;
  }
} 

.selectionRectangle {
  float: left;
  display: none;
  background-color: $global-selection;
  width: 5px;
  height: 5px;
  padding: 40px 0 20px;
}

.section-manager h6 {
  position: absolute;
  top: 76%;
  left: 40%;
  color: $global-links;
}

.manager {
  margin: 60px 115px 0 0;
  position: relative;
}

.circleOnline {
  position: absolute;
  top: 76.5%;
  left: 23.5%;
  @include square (10px);
  @include border-radius (50%);
  background-color: green;
}

.logo {
  margin: -10px 0;
  display: inline-block;
 }

 .section-hamburger {
   display: inline-block;
   margin-top: 22px;
  .hamburger {
    width: 20px;
    height: 2px;
    background-color: $border-color;
    margin: 5px 3px 2px 35px;
  }
}

