.table {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
    line-height: 25px;
    color: $border-color;
    tr {
        min-height: 35px;
        @include flexbox;
        flex-wrap: wrap;
        border-bottom: 1px solid;  
        justify-content: space-between;
        @include transition (2s);
        padding-left: 5px; 
        a {
            text-decoration: none;
            color: $global-links;
        } a:hover {
            color: $global-selection;
            @include transition (0.3s);
        }
        i {
            float: right;
            margin-right: 15px;
            display: none;
            cursor: pointer;
        } i:hover {
            color: $global-selection;
        }
    } tr:first-child {
        border-top: 1px solid;
    } tr:hover {
        background-color: #f1f3f3;
    } tr:hover i {
        @include transition (0.3s);
        display: inline-block;
    }
}    