.general {
    background-color: #fff;
    width: 1056px;
    margin-left: 206px;
    height: 500px;
    h3 {
        padding: 18px;
        color: $border-color;
        text-transform: uppercase;
        border-bottom: 1px solid $border-color;
    }
    
    .date {
        border: 1px solid $border-color;
        width: 325px;
        height: 40px;
        margin-left: 344px;
        @include border-radius (5px);
    }
    p {
        display: inline-block;
        position: relative;
        margin: 0;
    }
    .dateP {
        margin: 10px 68px 0 18px;
    }
    .dateP:after {
        position: absolute;
        background-color: $border-color;
        content: " ";
        width: 1px;
        height: 30px;
        left: 125px;
        bottom: -6px;
    }

    .icon {
        margin: 0 0 -5px 60px;
    }
    .contentDate {
        margin-top: 50px;
        position: relative;
        .buttonSubmit {
            @extend .circle;
            left: 66%;
            top: 1%;
            @include square (40px);
            @include border-radius (5px);
            .vectoricon {
                margin: 10px;
                width: 20px;
            }
        }
    }   
}