.asideBar { 
  position: fixed;
  @include flexbox;
  width: 188px;
  z-index: -2; 
}

.asside {
  min-height: 1700px;
  background-color: #191919;
  margin: -60px 0 0 0;
  li {
    width: 100%;
    float: none;
    border: none;
    text-align: left;
    background-color: #191919;
    color: #888888;
    &:hover {
      background-color: #282828;      
    } &:hover .selectionRectangle {
      display: inline-block;
    } a {
      display: block;
      margin-bottom: -30px;
    } a:last-child {
      border-bottom: 1px solid $border-color;
    } a:hover { 
      color: #fff;   
    }
  } .icon-li {
    color: #000;
    margin: 0 20px 0 10px;
  }
} 

.selectionRectangle {
  float: left;
  display: none;
  background-color: $global-selection;
  width: 5px;
  height: 5px;
  padding: 40px 0 20px;
  position: relative;
}

.sectionManager {
  h6 {
    position: absolute;
    top: 450px;
    left: 90px;
    color: $global-links;
  } h5 {
    position: absolute;
    margin: 420px -156px;
    text-transform: uppercase;
    color: #888888;
  } .manager {
    position: absolute;
    margin: 460px -174px;
    width: 50px;
} .circleOnline {
    position: absolute;
    top: 460px;
    left: 50px;
    @include square (10px);
    @include border-radius (50%);
    background-color: green;
  }
}

.section-logo {
  @include flexbox;
  .logo {
  margin-top: 5px;
  justify-content: flex-start;
  } .fa {
      margin: 15px 40px 0;
      color: $border-color;
  }
}

@media screen and (max-width: 900px )  {
  
   .asideBarRes {
     width: 50px;  
   }

   .logo {
     display: none;
   }

   .section-logo {
     .fa {
    margin: 15px 18px 0;
   }
  }

 .sectionManager {
   h6 {
     display: none;
   }
   h5  {
     display: none;
   }
   .manager { 
     margin: 10px;
     width: 30px;
   }
   .circleOnline {
     top: 400px;
     left: 30px;
     @include square (7px);
   }   
 }

 .text {
   display: none;
   }
 
 .assideRes .icon-li {
   color: #a7a7a7;
 }
}
