.general {
    background-color: #fff;
    width: 86%;
    padding-bottom: 20px;
    margin-top: -45px;
    transition: 1s;
    h3 {
        padding: 20px;
        color: $border-color;
        text-transform: uppercase;
        border-bottom: 1px solid $border-color;
    }

    .date {
        position: relative;
        border: 1px solid $border-color;
        width: 25%;
        height: 40px;
        margin: 0 auto;
        @include border-radius (5px);
    } p {
        display: inline-block;
        position: relative;
        margin: 12px;
    } p:hover {
        color: $global-links;
    } .dateP {
        margin: 0 10% 0 5%;
    } .dateP:after {
        position: absolute;
        background-color: $border-color;
        content: " ";
        width: 1px;
        height: 30px;
        right: -30%;
        bottom: -6px;
    }
    .icon {
        margin: 0 0 -1.5% 12%;
    }
    .contentDate {
        margin-top: 25px;
        position: relative;
        .buttonSubmit {
            position: absolute;
            left: 63%;
            top: 12%;
            background-color: $button-color;
            cursor: pointer;
            @include square (40px);
            @include border-radius (5px);
            .vectoricon {
                margin: 10px;
                width: 50%;   
            }
        }.buttonSubmit:hover {
            background-color: $button-hover;
        }
    } 
    .borderBottom {
        border-bottom: 1px solid $border-color;
        padding-top: 25px;
    }
    .statistic {
        width: 65%;
        margin: 0 auto;
        .borderBottom {
            border-bottom: 1px solid $border-color;
            padding: 0;
        } h4 {
            color: $border-color;
            display: inline-block;
        } .h4Number {
            color: #000;
            float: right;
            font-weight: 400;
        } 
    }
    .icon-calendar {
        margin: 0 0 0 6%;
        cursor: pointer;
    } .icon-calendar:hover {
        color: $global-links;
    }
}

.smallGeneralMarginLeft {
    @extend .general;
    margin-left: -11.5%;
    width: 97.5%;
    transition: 1s;
}

@media screen and (max-width: 900px )  {

    .general {
         margin: -60px -0 0 10px;
         p {
             font-size: 14px;
         }
    }

    .smallGeneralMarginLeft {
    margin-left: -12%;
    width: 100%;
    transition: 1s;
    }
}


