.topbar {
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  @include flexbox; 
  justify-content: flex-end;
  border-bottom: 1px solid $border-color;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    a {
      color: $paragraph-color;
      text-decoration: none;
      padding: 0 5px;
      line-height: 60px;
      font-size: $paragraph-font-size;
    }
  }
}

ul > li:hover {
  .icon-arrow-down-small:before {
    @include transform(rotate(180deg));
  } .price {
    color: #000;
    margin: 15px 0 0 20px
    }
}

ul > li, ol {
  float: left;
  padding: 0;
  list-style-type: none;
} li { 
  transition: 1s;
  width: 188px;
  border-left: 1px solid $border-color;
  height: 60px;
  &:hover {
    background-color: #f5f5f2;
    z-index: 1;
  }
}

ol > .listOne {
  float: left;
  width: 189px;
  background-color: #f5f5f2;
  height: 35px;
  margin: 0px -1px -1px -1px;
  border-right:  1px solid $border-color; 
  border-bottom: 1px solid $border-color;
  a {
    line-height: 30px;
  }
}

ul > li > ol {
  display: none;
}

ul > li:hover > ol {
  display: block;
}

.icon-wallet {
  margin: 18px 0 0 8%;
  float: left;
}

.price {
  float: left;
  color: #b6b6b6;
  margin: 15px 0 0 20px
}

.leftmenu {
  float: left;
  margin-left: 20px;
  color: #b6b6b6; 
}

.rightmenu {
  float: right;
  margin-right: 20px;
}

.circle {
  display: inline-block; 
  z-index: 1;
  position: absolute;
  left: 22px;
  top: 17px;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
}

.secondMenuList {
  border-left:  1px solid $border-color;
  width: 234px;
  position: relative;
  &:hover {
    .circle, .leonardoText, .rectangle, .icon-profile {
      display: none;
    }
  } .icon-notification:before {
    position: absolute;
    left: 14px;
    top: 19px;
  } &:hover {
    .icon-close {
      display: block;
      float: right;
      margin-right: 15px;
    }
  }
}

.leonardoText {
  color: $global-links;
  position: absolute;
    left: 90px;
    bottom: 2px;
}

.rectangle {
  width: 1px;
  height: 60px;
  display: inline-block;
  position: absolute;
  left: 46px;
  background-color: $border-color;
}

ol > .listTwo {
  width: 235px;
  @extend .listOne;
  :hover {
    .circleOne {
      display: inline-block;
    }
  } a {
    color: $global-links;
    @extend .leftmenu;
  }
}

.circleOne {
  display: none;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
  margin-left: 30px;
}

.circleTwo {
  @extend .circleOne;
  margin-left: 38px;
}

.icon-profile {
  position: absolute;
  left: 65px;
}

.icon-close {
  display: none;
}

.quit {
  width: 70px;
}

.notificationText {
  display: none;
}

.logoutText {
  display: none;
}

.smalltopBarMarginLeft {
  @extend .topbar;
  transition: 1s;
}

.smalltopBarMarginLeft ul {
  justify-content: flex-end;
  transition: 1s; 
}

.asideBar { 
  position: absolute;
  @include flexbox;
  height: 380vh;
  width: 188px;
  background-color: #191919;
  top: 0;
  left: 0;
  transition: 1s; 
  .asside {   
    padding: 0;  
    font-size: 18px;
    li {
      transition: 1s;
      float: none;
      border: none; 
      background-color: #191919;
      &:hover {
        background-color: #282828;      
      } &:hover .selectionRectangle {
        display: inline-block;
      } a {
        color: #b6b6b6;
        text-decoration: none;
        line-height: 60px;
        font-size: $paragraph-font-size;
        display: block;
        transition: 1s;
      } a:last-child {
        border-bottom: 1px solid $border-color;
        padding: 5px;
      } a:hover { 
        color: #fff;   
      }
    } .icon-li {
      color: #b6b6b6;
      margin: 0 20px 0 10px;
    }
    .section-logo {
      @include flexbox;
      display: flex;
      margin-top: -3px;
      justify-content: center;
      align-items: center;
       .hamburger {
        font-size: 20px;
      }.fa {
        margin: 2px 0px 0 42px;
        transition: 1s;
        color: $border-color;
        cursor: pointer;
      }.fa-bars:hover {
        color: #fff;
      }
    }
  } 
  .selectionRectangle {
    float: left;
    display: none;
    background-color: $global-selection;
    width: 5px;
    height: 5px;
    padding: 40px 0 20px;
  }
  
  .sectionManager {
    transition: 1s;
    margin-top: 20px;
    background-color: #191919;
    position: absolute;
    width: 188px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h6 {
      position: absolute;
      top: 35px;
      right: 30px;
      color: $global-links;
    } h5 {
      text-transform: uppercase;
      color: #888888;
      margin: 8% 15%;
    } .manager {
      width: 50px;
      margin: 0 34% 0 0;
    } .circleOnline {
      position: absolute;
      top: 48px;
      left: 75px;
      @include square(10px);
      @include border-radius(50%);
      background-color: green;
    }
  }
}

.expanded { 
    .asside {
      .section-logo {
         .fa {
    margin: 2px 0 0 0;
    transition: 1s;
        }
      }
    }      
  
  li {
    transition: 1s;
    width: 40px;
  }
  
  width: 40px; 
  @include flexbox; 
  background-color: #191919;
  height: 180vh;
  .logo {
    display: none;
  }
  .sectionManager {
    @extend .sectionManager;
    width: 40px;
    transition: 1s;
    h6 {
      display: none;
    }
    h5  {
      display: none;
    }
    .manager { 
      width: 30px;
      margin: 25% 0;
    }
    .circleOnline {
      @include square (7px);
      position: absolute;
      left: 25px;
      top: 8px;
    }   
  }

  .text {
    display: none;
  }

  .asside .icon-li {
    color: #a7a7a7;
    margin: 0 0 0 18%;
  } .asside .icon-li:hover {
    color: #fff;
  }
}

.general {
  margin-left: 192px;
  margin-right: auto;
  background-color: #fff;
  padding-bottom: 20px;
  transition: 1s;
  h3 {
    margin: 0;
    padding: 25px;
    color: $border-color;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  .contentDate {
    padding: 35px;
    display: flex;
    justify-content: center;
      .date {
          display: flex;
          border: 1px solid $border-color;
          @include border-radius (5px);
        } p {
          display: inline-block;
          position: relative;
          display: flex;
          padding: 10px 30px;
          margin: 0;    
       } p:hover {
          color: $global-links;
        } .dateP {
         position: relative;
         display: flex;
         padding: 10px 30px;
         margin: 0;
        } .dateP:after {
          position: absolute;
          background-color: $border-color;
          content: " ";
          width: 1px;
          height: 30px;
          right: 0%;
          bottom: 3px;
        }
        .buttonSubmit {
          display: flex;
          background-color: #ffa200;
          cursor: pointer;
          padding: 10px 10px;          
          cursor: pointer;
          @include border-radius (5px);
          margin: 0 10px;
          .vectoricon {
          } &:hover {
            background-color: $button-hover;
          } 
        }
  } 

  .icon-calendar {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin: 0 10px;
      cursor: pointer;
  } .icon-calendar:hover {
      color: $global-links;
  }

  .borderBottom {
      border-bottom: 1px solid $border-color;
      padding-top: 20px;
  }
  .statistic {
      width: 65%;
      margin: 0 auto;
      .borderBottom {
          border-bottom: 1px solid $border-color;
          padding: 0;
      } h4 {
          color: $border-color;
          display: inline-block;
      } .h4Number {
          color: #000;
          float: right;
          font-weight: 400;
      } 
  }
}

.smallGeneralMarginLeft {
  margin-left: 40px;
  transition: 1s;
}

.links {
  @extend .general;
  h3 {
      @extend h3;
  }
  .btn-orange {
      display: block;
      margin: 10px auto;
      background-color: $button-color;
      color: #fff;
      border: none;
      padding: 10px 30px;
      @include border-radius (5px);
      cursor: pointer;
        font-size: 22px;
        font-weight: 100;  
      
  } .btn-orange:hover {
      background-color: $button-hover;
  }
  .table {
      margin: 20px auto;
      width: 55%;
      padding: 15px;
      border-collapse: collapse;
      line-height: 25px;
      color: $border-color;
      tr {
          min-height: 35px;
          @include flexbox;
          flex-wrap: wrap;
          border-bottom: 1px solid;  
          justify-content: space-between;
          @include transition (2s);
          padding-left: 5px; 
          td {
              text-align: center;
          }
          a {
              text-decoration: none;
              color: $global-links;
          } a:hover {
              color: $global-selection;
              @include transition (0.3s);
          }
          i {
              float: right;
              margin-right: 15px;
              display: none;
              cursor: pointer;
          } i:hover {
              color: $global-selection;
          }
      } tr:first-child {
          border-top: 1px solid;
      } tr:hover {
          background-color: #f1f3f3;
      } tr:hover i {
          @include transition (0.3s);
          display: inline-block;
      }
  }    
}

.smallLinksMarginLeft {
  @extend .smallGeneralMarginLeft;   
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px; 
  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 720px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 35px 20px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.modal-header {
  padding: 2px;  
  color: #000;
  h4 {
      margin: 0;
      text-transform: uppercase;
      color: $border-color;
      font-weight: 200;
  }
}

.modal-body {
    border-top: 1px solid #888;
    padding: 50px 20px 20px;
}

.input {
  position: relative;
  display: inline-block;
  .icon-login {
    position: absolute;
    left: 3%;
    top: 20%;
  }
  .icon-password {
    @extend .icon-login;
  }
}

.inputPadding {
  padding: 6px 0 6px 25px;
}

button {
cursor: pointer;
@include border-radius (3px);
background-color: #ffa200;
color: #fff;
border: none;
display: inline-block;
padding: 8px 60px;
} button:hover {
background-color: #f58220;
}

@media screen and (max-width: 900px )  {

  .topbar {
    height: 320vh;
    z-index: 3;
    background-color: #191919;
    position: absolute;
    top: 510px;
    left: 0;
    margin-left: 0;
      ul {
        height: 60px;
        margin-left: 0;
    }
    ol > .listOne {
      z-index: 4;
      padding: 25px 0 15px 0px;
      a {
        line-height: 1px;
      } &:hover {
        background-color: #f5f5f2;
      }  
    } 
    
  }

  .secondMenuList {
    transition: 0.1s;
    &:hover .icon-profile {
      position: absolute; 
    }
    &:hover {
      .leonardoText, .rectangle, .icon-profile {
        display: inline-block;
      }
    } &:hover {
      .icon-notification:before {  
        color: $border-color;
      }
    } &:hover {
      .icon-close, .rectangle {
        display: none;
      }
    } &:hover {
      background-color: #191919;
    }
  } 

  ul > li:hover {
    .icon-arrow-down-small:before {
      @include transform(rotate(0deg));  
    } .price {
      color: $border-color;
      }
  }

  li { 
    border-bottom: none;
  } 

  li:hover {
    background-color: $border-color;
  }

  .firstMenuList:hover {
    background-color: #191919;
    
  }

  .secondMenuList {
    z-index: -1;
    position: absolute;
    top: 57px;
    width: 188px;
    border-left: none;
    
  }

  ol > .listTwo {
    display: none;
  } 

  .rectangle {
    display: none;
  }

  .icon {
    color: $border-color;
  }

  .icon-wallet {
    margin: 13px 0 0 12px;
    float: left;
  }

  .price {
    float: left;
    font-size: $paragraph-font-size;
  }

  .icon-arrow-down-small {
    margin: 0;
  }


  .notificationText {
    display: inline-block;
    margin: 0 70px 0 60px;
    position: relative;
  }

  .icon-profile {
    position: absolute; 
    left: 14px;
    top: 60px;
  }

  .leonardoText {
    position: absolute;
    margin-left: 10px;
    left: 38px;
    top: 58px;
    color: $border-color;
  }

  .quit {
    position: absolute;
    top: 138px;
    left: 14px;
    z-index: -1;
  }

  .icon-quit {
    position: absolute;
    top: 55px;
    left: 0;
  }

  .logoutText {
    display: inline-block;
    position: absolute;
    left: 60px;
  }

  .rectangle {
    display: none;
  }

  ul > li, ol {
    border-left: none;
    width: 188px;
  } 

  .smalltopBarMarginLeft {
    .logoutText, .notificationText, .price, .leonardoText, .icon-arrow-down-small {
      display: none;
    } 
    
    .secondMenuList, .firstMenuList {
      width: 40px;
    }

    .icon-profile {
      margin: 0 5px 0 0;
    }

    .firstMenuList:hover ol {
      display: none;
    }
  
    .secondMenuList:hover .leonardoText {
      display: none;
    }
  }

  .asideBar {  
      .sectionManager {
      display: none;
      }         
    }

  .general {
      p {
          font-size: 14px;
      }
      .statistic {
         width: 85%;
      }
 }
}

@media only screen and (max-width: 575px) {
  .topbar {
      .logoutText, .notificationText, .price, .leonardoText, .icon-arrow-down-small {
        display: none;
      } 
  
      .secondMenuList, .firstMenuList {
        width: 40px;
      }

      .firstMenuList:hover ol {
        display: none;
      }
    
      .secondMenuList:hover .leonardoText {
        display: none;
      }
    }
      .asideBar {
        .asside {
          .section-logo {
              .fa {
                margin: 2px 0 0 0;
            }
          }
          .icon-li {
            margin: 0 0 0 18%;
          }
        }
        li {
            width: 40px;
        }

        transition: 1s;
        width: 40px; 
        @include flexbox; 
        background-color: #191919;
        height: 180vh;
        .logo {
          display: none;
        } 
      
        .text {
          display: none;
        }
    }

  .general {
      margin-left: 40px;   
      p {
          font-size: 12px;
      }
      h3 {
          display: flex;
          justify-content: center;
          font-size: 16px;
      }
      .statistic {
         width: 95%;
      }

      .icon-calendar {
       font-size: 12px;
      }

      .contentDate {
        p {
          padding: 15px 20px 0px;
        }
        .dateP {
          padding: 15px 20px 0px;
        }
      }
      
      .chart {
          h4 {
              display: flex;
              justify-content: center;
          }
      }
 }

 .links {
      .btn-orange {
          width: 30%;
      }
 }
}


