 .asideBar { 
  position: fixed;
  @include flexbox;
  overflow-y: auto;
  height: 200vh;
  width: 188px;
  background-color: #191919;
  margin: -75px 0 0 -15px;
  transition: 1s; 
  z-index: 1;
  .asside {
    list-style-type: none;    
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
    li {
      float: none;
      border: none;
      text-align: left;
      background-color: #191919;
      color: #888888;
      &:hover {
        background-color: #282828;      
      } &:hover .selectionRectangle {
        display: inline-block;
      } a {
        color: #b6b6b6;
        text-decoration: none;
        line-height: 60px;
        font-size: $paragraph-font-size;
        display: block;
        margin-bottom: -30px;
      } a:last-child {
        border-bottom: 1px solid $border-color;
      } a:hover { 
        color: #fff;   
      }
    } .icon-li {
      color: #000;
      margin: 0 20px 0 20px;
    }
    .section-logo {
      @include flexbox;
      .logo {
      margin-top: 5px;
      justify-content: flex-start;
      } .fa {
        margin: 16px 0px 0 12px;
        color: $border-color;
        cursor: pointer;
      } .fa-bars {
        color: #888888;
      } .fa-bars:hover {
        color: #fff;
      }
    }
  } 
  .selectionRectangle {
    float: left;
    display: none;
    background-color: $global-selection;
    width: 5px;
    height: 5px;
    padding: 40px 0 20px;
  }
  
  .sectionManager {
    background-color: #191919;
    position: fixed;
    width: 188px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0 0 30px 0;
    h6 {
      margin: -8% -35% 0 0;
      color: $global-links;
    } h5 {
      text-transform: uppercase;
      color: #888888;
      margin: 8% 15%;
    } .manager {
      width: 50px;
      margin: 0 34% 0 0;
    } .circleOnline {
      margin: -26% 18% 11% 0;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: green;
    }
  }
}

.expanded { 
  transition: 1s;
  width: 40px; 
  @include flexbox; 
  background-color: #191919;
  margin: -75px 0 0 -15px;
  overflow-y: auto;
  height: 180vh;
  .logo {
    display: none;
  } 
  .sectionManager {
    @extend .sectionManager;
    width: 40px;
    h6 {
      display: none;
    }
    h5  {
      display: none;
    }
    .manager { 
      width: 30px;
      margin: 25% 0;
    }
    .circleOnline {
      @include square (7px);
      margin: -100% 0 0 46%;
    }   
  }

  .text {
    display: none;
  }

  .asside .icon-li {
    color: #a7a7a7;
    margin: 0 6% 0 6%;
  } .asside .icon-li:hover {
    color: #fff;
  }
}

@media screen and (max-width: 900px )  {
   
  .asideBar { 
    margin: -15px 0 0 -15px;
    .sectionManager {
    display: none;
    }    
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .asideBar { 
    height: 370vh;
    overflow-y: auto;
  }

  .expanded {
    height: 370vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 575px) {
  .asideBar { 
    height: 370vh;
    overflow-y: auto;
  }
  .expanded {
    width: 40px; 
    overflow-y: auto;
    height: 370vh;
  }
}

