 .asideBar { 
  position: fixed;
  @include flexbox;
  width: 14,7%;
  min-height: 2000px;
  background-color: #191919;
  margin: -60px 0 0 0;
  transition: 1s; 
  .asside {
    list-style-type: none;    
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    height: 60px;
    width: 100%;
    li {
      width: 100%;
      float: none;
      border: none;
      text-align: left;
      background-color: #191919;
      color: #888888;
      &:hover {
        background-color: #282828;      
      } &:hover .selectionRectangle {
        display: inline-block;
      } a {
        color: #b6b6b6;
        text-decoration: none;
        padding: 0 5px;
        line-height: 60px;
        font-size: $paragraph-font-size;
        display: block;
        margin-bottom: -30px;
      } a:last-child {
        border-bottom: 1px solid $border-color;
      } a:hover { 
        color: #fff;   
      }
    } .icon-li {
      color: #000;
      margin: 0 20px 0 10px;
    }
  } 
}

.selectionRectangle {
  float: left;
  display: none;
  background-color: $global-selection;
  width: 5px;
  height: 5px;
  padding: 40px 0 20px;
  position: relative;
}

.sectionManager {
  width: 100%;
  h6 {
    position: absolute;
    top: 510px;
    left: 90px;
    color: $global-links;
  } h5 {
    position: absolute;
    margin: 480px -156px;
    text-transform: uppercase;
    color: #888888;
  } .manager {
    position: absolute;
    margin: 510px -174px;
    width: 50px;
} .circleOnline {
    position: absolute;
    top: 510px;
    left: 50px;
    @include square (10px);
    @include border-radius (50%);
    background-color: green;
  }
}

.section-logo {
  @include flexbox;
  .logo {
  margin-top: 5px;
  justify-content: flex-start;
  } .fa {
      margin: 15px 40px 0;
      color: $border-color;
      cursor: pointer;
  } .fa-bars {
    color: #888888;
  } .fa-bars:hover {
    color: #fff;
  }
}

.expanded {
  transition: 1s;
  width: 3.91%; 
  position: fixed;
  @include flexbox;
  min-height: 1700px;
  background-color: #191919;
  margin: -60px 0 0 0;
  .logo {
    display: none;
  }

  .section-logo {
    .fa {
   margin: 15px 18px 0;
  }
 }
  .sectionManager {
    h6 {
      display: none;
    }
    h5  {
      display: none;
    }
    .manager { 
      margin: 480px -40px;
      width: 30px;
    }
    .circleOnline {
      top: 480px;
      left: 30px;
      @include square (7px);
    }   
  }

  .text {
    display: none;
  }

  .asside .icon-li {
    color: #a7a7a7;
  } .asside .icon-li:hover {
    color: #fff;
  }
}

@media screen and (max-width: 900px )  {
  
  .asideBar { 
    margin: 0;
  }

  .sectionManager {
  display: none;
  } 
    
}

