.topbar {
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  @include flexbox; 
  justify-content: flex-end;
  border-bottom: 1px solid $border-color;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    height: 60px;
    z-index: 2;
    a {
      color: #b6b6b6;
      text-decoration: none;
      padding: 0 5px;
      line-height: 60px;
      font-size: $paragraph-font-size;
    }
  }
}

ul > li:hover {
  .icon-arrow-down-small:before {
    @include transform(rotate(180deg));
  } .price {
    color: #000;
    }
}

ul > li, ol {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
} li { 
  background-color: #fff;
  width: 188px;
  border-left: 1px solid $border-color;
  height: 60px;
  border-bottom: 1px solid $border-color;
  &:hover {
    background-color: #e3e3e3;
    z-index: 1;
  }
}

ol > .listOne {
  float: left;
  width: 189px;
  background-color: #e3e3e3;
  margin: -1px;
  border-left:  1px solid $border-color;
  border-right:  1px solid $border-color;
  border-bottom:  1px solid $border-color;
  a:hover {
    color: $paragraph-color;
  } &:last-child {
    height: 60px;
  }
}

ul > li > ol {
  display: none;
}

ul > li:hover > ol {
  display: block;
}

.icon-wallet {
  margin: 12px 0 0 8%;
  float: left;
}

.price {
  float: left;
  color: #b6b6b6;
  margin: 11px 13px 0;
}

.leftmenu {
  float: left;
  margin-left: 20px;
}

.rightmenu {
  float: right;
  margin-right: 20px;
}

.circle {
  display: block;
  z-index: 1;
  position: absolute;
  left: 28px;
  top: 18px;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
}

.secondMenuList {
  border-left:  1px solid $border-color;
  width: 234px;
  position: relative;
  &:hover {
    .circle, .leonardoText, .rectangle, .icon-profile {
      display: none;
    }
  } &:hover {
    .icon-notification:before {
      margin: 0px 67px 0 -67px;
    }
  } &:hover {
    .icon-close {
      display: block;
      color: #000;
      float: right;
      margin-right: 15px;
    }
  }
}

.leonardoText {
  color: $global-links;
  margin-left: 12px;
}

.icon-notification:before {
  margin: 0 58% 0 -16%;
  color: #000;
}

.rectangle {
  margin: -60px 0% -26% 24%;
  width: 1px;
  height: 60px;
  background-color: $border-color;
}

ol > .listTwo {
  width: 235px;
  @extend .listOne;
  :hover {
    .circleOne {
      display: inline-block;
    }
  } a {
    color: $global-links;
    @extend .leftmenu;
  }
}

.circleOne {
  display: none;
  @include square (8px);
  @include border-radius (50%);
  background-color: $global-selection;
  margin-left: 30px;
}

.circleTwo {
  @extend .circleOne;
  margin-left: 38px;
}

.icon-profile {
  margin-left: 55px;
  color: #000;
}

.icon-close {
  display: none;
}

.quit {
  width: 70px;
}

.notificationText {
  display: none;
}

.logoutText {
  display: none;
}

.smalltopBarMarginLeft {
  @extend .topbar;
  transition: 1s;
}

.smalltopBarMarginLeft ul {
  margin-left: 738px;
  transition: 1s; 
}

@media screen and (max-width: 900px )  {

  .topbar {
    z-index: 3;
    background-color: #191919;
    position: fixed;
    top: 480px;
    left: 0;
    margin-left: 0;
      ul {
        height: 60px;
        margin-left: 0;
    }
    ul > li:hover > ol {
      z-index: 4;
      position: absolute;
      top: 100%;
    }   
  }

  .secondMenuList {
    &:hover .icon-profile {
      position: absolute; 
    }
    &:hover {
      .leonardoText, .rectangle, .icon-profile {
        display: inline-block;
      }
    } &:hover {
      .icon-notification:before {  
        color: $border-color;
      }
    } &:hover {
      .icon-close, .rectangle {
        display: none;
      }
    } 
  }

  ul > li:hover {
    .icon-arrow-down-small:before {
      @include transform(rotate(0deg));
    } .price {
      color: $border-color;
      }
  }

  li { 
    background-color: #191919;
    border-bottom: none;
  } 

  li:hover {
    background-color: $border-color;
  }

  .firstMenuList:hover {
    background-color: #191919;
  }

  .secondMenuList {
    position: absolute;
    top: 57px;
    width: 188px;
    border-left: none;
    &:hover {
      background-color: #191919;
    } &:hover .icon-notification:before {
      margin: 0 -9px 0px 7px;
    }  
  }

  ol > .listTwo {
    display: none;
  } 

  .rectangle {
    display: none;
  }

  .icon {
    color: $border-color;
  }

  .icon-wallet {
    margin: 13px 0 0 23px;
    float: left;
  }

  .price {
    float: left;
    font-size: $paragraph-font-size;
    margin: 11px 0px 0 26px;
  }

  .icon-arrow-down-small {
    margin: 0;
  }

  .icon-notification:before {
    color: $border-color;
    margin: 0 -9px 0 9px;
  }

  .notificationText {
    display: inline-block;
    margin: 0 44px 0 34px;
    position: relative;
  }

  .icon-profile {
    position: absolute; 
    left: -34px;
    top: 58px;
  }

  .leonardoText {
    position: absolute;
    left: 38px;
    top: 58px;
    color: $border-color;
  }

  .quit {
    position: absolute; 
    top: 175px;
    left: -9px;
    z-index: -1;
  }

  .logoutText {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 87px;
  }

  .rectangle {
    display: none;
  }

  ul > li, ol {
    border-left: none;
    width: 188px;
  } 

  .smalltopBarMarginLeft {
    .logoutText, .notificationText, .price, .leonardoText, .icon-arrow-down-small {
      display: none;
    } 

    .secondMenuList, .firstMenuList {
      width: 40px;
    }

    .icon-wallet {
      margin: 0 0 0 12px;
    }

    .icon-notification:before {
      margin: 0 10px 0 5px;
    }

    .circle {
      margin: -1px 0px 0 -8px; 
    }

    .icon-profile {
      margin: 0 0 0 46px;
    }

    .quit {
      margin: 0 0px 0 6px;
      width: 40px;
    }

    .firstMenuList:hover ol {
      display: none;
    }
  
    .secondMenuList:hover .leonardoText {
      display: none;
    }
  }
}

 